body{
font-family: Arial;
background:#0f172a;
color:white;
padding:20px;
}

header{
text-align:center;
margin-bottom:20px;
}

.card{
background:#1e293b;
padding:20px;
margin:15px 0;
border-radius:15px;
}

button{
background:#38bdf8;
color:black;
border:none;
padding:10px;
margin-top:10px;
border-radius:10px;
}
